fiftyone
tensorboard
--extra-index-url https://download.pytorch.org/whl/cu126
torch 
torchvision   
torchaudio 
ultralytics


jupyter
notebook<7
pandas
numpy
scikit-learn
scikit-multilearn
pydantic
typer
pydantic-settings
mlflow
tensorboard